*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/build/
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/misc.xml
/.gitignore
